body {
	background-color: #434343;
	margin: 0;
	padding: 0;
}
.sep {
	margin: 0 0 80px 0;
}
.content-banner {
	background-color: #074d84;	
	padding: 40px 0 0 0;
}
.banner .logo-ps {
	margin: 0;
}
.banner .logo-ps .navbar-brand {
	padding: 0;
	height: initial;
	float: none;
}
.banner .logo-ps i:before {
	background-image: url('../img/logo-social-ecologie.png');
	width: 80px;
  height: 65px;
  background-repeat: no-repeat;
  background-position: top left;
  display: inline-block;
  content: "";
  background-size: 100%;
	
}
.banner .logo-ps span{
	border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
.banner h2 {
	position: absolute;
	background-color: #1d1d1b;
	color: #fff;
	text-transform: uppercase;
	text-align: center;
	width: 50%;
	padding: 10px 0;
	margin: 50px 0 0 0;
}
.banner .bg-banner {
	margin: 30px 0 0 0;
}
.btn-pdf {
	background: #074d84;
	border: 1px solid #fff;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
	color: #fff;
	text-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
	font-size: 16px;
	text-transform: uppercase;
	position: absolute;
	right: 0;
	top: 0;
	-webkit-transition: all 0.25s ease-in-out 0s;
	-o-transition: all 0.25s ease-in-out 0s;
	transition: all 0.25s ease-in-out 0s;
}
.btn-pdf:hover {
	background-color: #fff;
	color: #073861;
}
.intro {
	padding: 50px 0 50px 0;
}
.intro hr {
	border-color: #e20040;
	border-width: 4px;
	margin: 30px 0 30px 0;
}
.intro p {
	color: #fff;
	font-size: 16px;
}
.themes {
	padding: 80px 0 160px 0;
}
ul.item-themes li {
	list-style: none;
	min-height: 350px;
	text-align: center;
}
ul.item-themes h2 {
	color: #fff;
	text-transform: uppercase;
	font-size: 20px;
}
ul.item-themes li img {
	max-width: 150px;
	-moz-opacity: 0.70;
	-khtml-opacity: 0.70;
	opacity: 0.70;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha"(Opacity=70);
	filter:alpha(opacity=70);
	-webkit-transition: all 0.25s ease-in-out 0s;
	-o-transition: all 0.25s ease-in-out 0s;
	transition: all 0.25s ease-in-out 0s;
}
.item-solidarite, .item-culture, .item-republique {
	margin-top: 60px;
}
.item-education {
	margin-top: 40px;
}
ul.item-themes li .icon {
	-webkit-border-radius: 250px;
	-moz-border-radius: 250px;
	border-radius: 250px;
	width: 250px;
	height: 250px;
	background-color: #fff;
	margin: 0 auto;
}
ul.item-themes li a {
	display: block;
	text-decoration: none;
}
ul.item-themes li a:hover img {
	-moz-opacity: 1;
	-khtml-opacity: 1;
	opacity: 1;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha"(Opacity=100);
	filter:alpha(opacity=100);
}
#solidarite, #ecole {
	padding: 80px 0 0	0;
}
#culture, #republique {
	padding: 0;
}
.title-chapter {
	text-align: center;
	margin: 0 0 60px 0;
}
.title-chapter h2 {
	background-color: #e20040;
	display: inline-block;
	color: #fff;
	padding: 15px 15px;
	text-transform: uppercase;
	margin: 0 auto;
}
.wrapper-chapter {
	background-color: #074d84;
	padding: 30px;
}
.wrapper-chapter h2{
	color: #fff;
	margin-top: 0;
	text-transform: uppercase;
	margin-bottom: 40px;
}
.wrapper-chapter p{
	color: #fff;
}
.wrapper-chapter ul {
	color: #fff;
}
.wrapper-share {
	
}
.wrapper-share h3 {
	color: #fff;
	margin-top: 0;
	text-transform: uppercase;
	font-size: 20px;
}
.container-share {
	background-color: #fff;
	padding: 30px;
	margin-bottom: 30px;
}
.container-share .quote-share {
	background-color: #0c3960;
	color: #fff;
	text-transform: uppercase;
	font-size: 20px;
	padding: 15px;
	margin: 20px 0 0 30px;
}
.container-share .quote-share i {
	font-size: 14px;
	text-transform: none;
	text-align: right;
	display: block;
	margin: 10px 0 0 0;
	padding: 0 20px 0 0;
}
.container-share span:after {
	width: 42px;
	height: 133px;
	background-image: url('../img/icon-fn.png');
	background-repeat: no-repeat;
	background-position: top left;
	display: block;
	content: "";
	background-size: 100%;
	float: left;
}
.btn-share {
	text-align: right;
	margin: 20px 0 0 0;
}
.btn-share a {
	display: inline-block;
}
.btn-share a img{
	width: 24px;
}
.wrapper-decisions {
	margin-top: 30px;
}
.wrapper-decisions h3 {
	color: #fff;
	text-transform: uppercase;
	font-size: 20px;
}
.container-decisions {
	background-color: #fff;
	padding: 20px 100px;
	margin: 0 0 80px 0;
}
.container-decisions div{
	text-align: center;
}
.container-decisions h4{
	color: #fff;
	background-color: #074d84;
	display: inline-block;
	text-transform: uppercase;
	padding: 2px 5px;
}
.container-decisions p{
	color: #000;
}
#go_top{
    background-color: white;
    /*background: url('../img/return_on_top.png') no-repeat;*/
    bottom: 1%;
    cursor: pointer;
    display: none;
    filter: alpha(opacity = 50); /* IE < 8 */
    height: 48px;
    opacity: 0.5;
    position: fixed;
    right: 1%;
    width: 48px;
    font-size: 40px;
    padding-left: 5px;
    	-webkit-transition: all 0.25s ease-in-out 0s;
	-o-transition: all 0.25s ease-in-out 0s;
	transition: all 0.25s ease-in-out 0s;
}
#go_top:hover {
    filter: alpha(opacity = 100); /* IE < 8 */
    opacity: 1;
}
/*progress bar reading*/
progress {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1;
  width: 100%;
  height: 5px;
  -webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;

  /* Get rid of the default border in Firefox/Opera. */
  border: none;

  /* Progress bar container for Firefox/IE10+ */
  background-color: transparent;

  /* Progress bar value for IE10+ */
  color: red;
}
progress::-webkit-progress-bar {
  background-color: transparent;
}
progress::-webkit-progress-value {
  background-color: red;
}
progress::-moz-progress-bar {
  background-color: red;
}
/*
------------
RESPONSIVE
------------
*/
@media (max-width: 992px) and (min-width: 320px) {
	/*body {
		background-color: red;
	}*/
	.content-banner {
		padding: 0;
	}
	.banner {
		margin: 30px 0 0 0;
	}
	.banner h2 {
		margin: 50px 0 0 0;
	}
	.banner .bg-banner {
		padding: 60px 0 0 0;
		margin: 0;
	}
	.wrapper-chapter {
		margin-bottom: 40px;
	}
}
@media only screen and (max-width: 768px) and (min-width: 320px){
	.themes {
		padding: 0px 0 50px 0;
	}
	ul.item-themes li {
		min-height: 240px;
	}
	ul.item-themes li .icon{
		width: 180px;
    height: 180px;
	}
	ul.item-themes li img {
		max-width: 110px;
	}
	.item-solidarite, .item-culture, .item-republique {
    margin-top: 40px;
	}
	.item-education {
    margin-top: 25px;
	}
	.sep {
		margin: 0;
	}
}
@media only screen and (max-width: 768px) and (min-width: 480px){
	/*body {
		background-color: green;
	}*/
	.container-decisions {
		padding: 20px;
	}
}
@media only screen and (max-width: 480px) and (min-width: 320px){
	/*body {
		background-color: orange;
	}*/
	.banner .logo-ps {
		text-align: center;
	}
	.banner h2 {
		margin: 20px 0 0 0;
		font-size: 15px;
    width: 40%;
	}
	.btn-pdf {
		position: initial;
    right: initial;
    top: initial;
    margin: 20px 0 0 0;
    display: block;
	}
	.container-decisions {
		padding: 20px;
	}
}
